<h1>Resultados de búsqueda</h1>

<hr>

<p>En el endpoint tendrías que haber hecho una consulta a la BBDD para mostrar aquí los resultados de:</p>

<ul>
    <li>Prenda: {{clothe}}</li>
    <li>Color: {{color}}</li>
    <li>Talla: {{size}}</li>
    <li>Temporada: {{season}}</li>
</ul>

<hr>

<a href="/buscador">Volver al buscador</a>