<h1>Buscador de prendas</h1>

<hr>

<form action="/resultados" method="GET">

    <label>
        Prenda: <input type="text" name="clothe">
    </label>

    <label>
        Temporada: <input type="text" name="season">
    </label>

    <label>
        Color: <input type="text" name="color">
    </label>

    <label>
        Talla: <input type="text" name="size">
    </label>

    <input type="submit" value="Mostrar resultados">

</form>

<hr>

<a href="/">Volver al inicio</a>