<h1>Registro</h1>

<form action="/registro" method="POST">

    <label>
        Nombre de usuario: <input type="text" name="username">
    </label>

    <label>
        Contraseña: <input type="password" name="userPassword">
    </label>

    <input type="submit" value="Registrarme">

</form>

<a href="/">Volver al inicio</a>